<nav class="navbar navbar-light bg-success py-4">
    <div class="container justify-content-center">
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#carrito-modal">
            <img src="/icon/cart-shopping-solid.svg" alt="carrito">
        </button>
    </div>
</nav>