<nav class="navbar navbar-dark bg-success py-2">
    <div class="container justify-content-center">
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#carrito-modal">
            <i class="fa-solid fa-cart-shopping"></i>
        </button>
    </div>
</nav>

<style>
    .fa-solid {
        color: white;
        font-size: 2em;
    }
</style>